# EditorConfig is awesome: https://editorconfig.org
root = true

# Global settings
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Kotlin files
[*.kt]
indent_size = 4
max_line_length = 120

# XML files
[*.xml]
indent_size = 4

# Properties files
[*.properties]
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false

[*.yml]
indent_size = 2
