*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
!.idea/fileTemplates/
!.idea/dictionaries
!.idea/file.template.settings.xml
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.kotlin
*.db
release/flathub/.flatpak-builder
release/flathub/builddir
release/flathub/repo
*.snap
*.jks
*.apk
*.aab
discorkie-38e771a6c4be.json
cache
kcef-bundle
fastlane/report.xml
fastlane/README.md
composeApp/MediaDeviceSalts
composeApp/MediaDeviceSalts-journal
i18n.cache
*.log
mapping.txt
.gemini/.env
.env
